*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.navbar-custom {
  background: #ffffff00 !important;
}

.navbar-scroll {
  background:  #ffffff  !important;
}

.navbar-brand img {
  width: 20vw;
}

.navbar-custom a {
  color: #000000 !important;
}

.navbar-custom a:hover {
  color: rgb(0, 0, 0) !important;
  font-weight: 600;
}
.navbar-scroll .navbar-brand img {
  width: 16vw;
}

.navbar-custom ul {
  margin-left: 30%
}
.navbar-custom ul li{
  margin-left: 15px;
}
.hero_wrapper{
    background: url(./../img/ortho3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    min-height: 100vh;
}
.hero_overlay{
    min-height: 100%;
    background: linear-gradient(to bottom, #f5f7ffd2, #fffbee42, #e6efff8f);
    background-repeat: no-repeat;
    padding-top: 12%;
    padding-bottom: 5%;
}
.hero_wrapper .image-grid img {
    border-radius: 0.75rem;
    transition: transform 0.3s;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    object-fit: cover;
    height: 180px;
    width: 100%;
}
.hero_wrapper.image-grid img:hover {
    transform: scale(1.05);
}

.condition-card img {
  transition: transform 0.3s ease;
}
.condition-card:hover img {
  transform: scale(1.1);
}

#about img {
  max-height: 400px;
  object-fit: cover;
}

.procedure-icon {
  font-size: 2rem;
  color: #0773b9;
  transition: transform 0.3s ease;
}
.procedure-card:hover .procedure-icon {
  transform: scale(1.3);
  color: #d8e034;
}
.procedure-card {
  transition: box-shadow 0.3s ease;
}
.procedure-card:hover,
.navbar-custom a.active{
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  background-color: #0773b9 !important;
  color:#ffffff;
}

.page-banner {
  background: url(./../img/ortho2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  height: 60vh;
}
.page-banner-overlay{
  height: 100%;
  background: linear-gradient(to bottom, #f5f7ffd2, #fffbee42, #e6efff8f);
  background-repeat: no-repeat;
  padding-top: 12%;
  padding-bottom: 10%;
}
.page-banner h1{
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#about, #contacts, #conditions, #procedures{
  padding-top: 11% !important;
}
